.banner{
    width: 100%;
    height: 200px;                 
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;}

body{
    background-color: rgb(255, 225, 250);
    padding: 0;
    margin: 0;
  
}
/* menu navbar jgn lupa */
.menu {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
/* tombol tombolan */
.btn {
  background-color: white;
  color: #a13ccd;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;  
  gap: 14px; 
  flex-wrap: wrap;
}

.dropdown-parent {
  position: relative;
}
/*udh bener jgn diubah*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background-color: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.dropdown-parent:hover .dropdown-menu {
  display: flex;
}


.dropdown-parent:focus-within .dropdown-menu {
  display: flex;
}


.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,#bf3cf7,#e8b2ff);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
}

.slider-wrapper {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin-bottom: 30px;
}

.slider-box {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-content: center;
    margin-left: 355px;
}

.slider-box::-webkit-scrollbar { display: none; }

.slider-box img {
    width: 260px;
    height: 160px;
    border-radius: 14px;
    object-fit: cover;
    background: #eee;

}


/* ==== BOX ANALISIS ==== */
.analysis-box {
    background: white;
    padding: 18px;
    margin: 15px 0;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    align-items: center;
    align-content: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.analisis-title {
    text-align: center;
    color: #1c3d5a;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.analisis-box p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 12px;
    margin-top: 12px;
}

.multilateral-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.multi-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.multi-img img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 180px;
}

.multi-text {
  flex: 1;
}

.multi-text h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #1c3d5a;
  margin-left: 60px;
}

.multi-text p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}
.regi{
padding: 20px 20px;
border-radius: 12px;
max-width: 800px;
text-align: center;
opacity: 100%;
background-color: rgb(234, 177, 255);
justify-content: center;
width: 80%;
margin: 40px auto 0 auto; 
text-align: justify;
display: flex; /* Mengaktifkan flexbox */
align-items: center;
}

.regi img{
border-radius: 10px;
width: 200x;
height: 125px;
display: block;
padding: 20px;
text-align: center; 
margin-bottom: 40px;
}
.regi img{
  margin-right: 15px
}

.title4{
  text-align: center;
  background-color: rgb(128, 127, 216);
  border-radius: 2px;
}

.title{
  text-align: center;
  font-size: x-large;
  border-color: aliceblue;
  border-radius: 10px;
}

.isi{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: rgb(113, 113, 178);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;
  
}

.container{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;          /* jarak antar card */
  justify-items: center;
}

.card__article{
  position: relative;
  overflow: hidden;
}

.card__img{
  width: 328px;
  border-radius: 1.5rem; 

}

.card__data{
  position: absolute;
  width: 200px;
  background-color: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  align-items: center;
}

.card__description{
  display: block;
  font-size: medium;
  margin-bottom: .25rem;
}

.card__title{
  font-size:large;
  font-weight: 500;
  color: black;
  margin-bottom: .75rem;
}

/* mulai animasi hover*/
.card__article:hover .card__data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .1s;
}

.card__article:hover{
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
  animation: remove-data 1s forwards;
}

@keyframes show-data{
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}

@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
   50%{
    transform: translateY(-10rem);
  } 100%{
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow{
  0%{
    overflow: initial;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

@media screen and (min-width: 1120px){
  .container{
    height: 100vh;
  }

  .card__container{
    grid-template-columns: repeat(3, 1fr);
  }
}
.solusi{
  padding: 20px;
  background-color: #e8b2ff;
  text-align: justify;
  margin-left: 75px;
  margin-right: 75px;
}

.title5{
  text-align: center;
}
.perkenalan{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: rgb(113, 113, 178);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;

}
.aboutme{
  text-align: center;
  font-size: x-large;
}

.containerdp {
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}
.containerdp li {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-top: 20px;
}

.juduldp{
  text-align: center;
  font-size: x-large;
  border-color: aliceblue;
  border-radius: 10px;
}
.img1{
border-radius: 10px;
width: 28x;
height: 10px;
display: block;
padding: 20px;
text-align: center; 
margin-bottom: 40px;
}

.isianalisa{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: #7171b2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;
  }

.title2{
  text-align: center;
  font-size: x-large;
  background-color: aliceblue;
  border-radius: 10px;

}

h2{
  background-color: #e8b2ff;
  max-width: fit-content;
  border-radius: 2px;
}
p{
  background-color: #e8b2ff;
  max-width: fit-content;
  border-radius: 2px;
}

.gallery{
  max-width: 800px;
  height: 450px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery-panel{
  flex: 1;
  border-radius: 0.75rem;
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.5s ease-in-out;
}

.gallery-panel:hover{
  flex: 3;

}

.gallery-panel img{
width: 100%;
height: 100%;
object-fit: cover;
}

.gallery-panel:nth-child(2) img{
  scale: 1.15;
}

.gallery-panel:nth-child(5) img{
  scale: 1.25;
}
.title3{
  text-align: center;
  background-color: rgb(128, 127, 216);
  border-radius: 2px;
}

.bilat{
padding: 20px 20px;
border-radius: 12px;
max-width: 800px;
text-align: center;
opacity: 100%;
background-color: rgb(234, 177, 255);
justify-content: center;
width: 80%;
margin: 40px auto 0 auto; 
text-align: justify;
}

.gallery{
  max-width: 800px;
  height: 450px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery-panel{
  flex: 1;
  border-radius: 0.75rem;
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.5s ease-in-out;
}

.gallery-panel:hover{
  flex: 3;

}

.gallery-panel img{
width: 100%;
height: 100%;
object-fit: cover;
}

.gallery-panel:nth-child(2) img{
  scale: 1.15;
}

.gallery-panel:nth-child(5) img{
  scale: 1.25;
}